RewriteEngine On
RewriteBase /

<FilesMatch "\.(?i:gif|jpe?g|jpeg|png|ico|css|js|swf)$">

  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=172800, public, must-revalidate"
  </IfModule>

</FilesMatch>

# Task 1: Check files and directory are exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Task 2: Redirect URLs to redirect.php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/.]+)$ $1.php [L]

# Task 3: For 400 and 500 
ErrorDocument 404 /error.php
ErrorDocument 500 /500.php

# Task 4: For Image
RewriteRule ^/?files/([^/]+)?$ files.php?name=$1 [L,QSA,NC]

# Task 5: API Request
RewriteRule ^/?api/([^/]+)?$ api.php?rquest=$1 [L,QSA,NC]
RewriteRule ^/?api/([^/]+)/(.+)?$ api.php?rquest=$2&namespace=$1 [L,QSA,NC]

